In [55]:
import baostock as bs
import pandas as pd

In [6]:
lg = bs.login()

login success!

In [48]:
rs = bs.query_history_k_data_plus("sh.600000",
    "date,time,code,open,high,low,close,volume,amount,adjustflag",
    start_date='2023-07-01', end_date='2023-08-10',
    frequency="5", adjustflag="3")

In [ ]:
from sqlalchemy import create_engine, Column, Integer, String, DateTime, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [84]:
Base = declarative_base()

class StockData(Base):
    __tablename__ = 'stock_data'
    id = Column(Integer, primary_key=True,autoincrement=True)
    TradingDay = Column(DateTime)
    SecuCode = Column(String(255))
    Time = Column(DateTime)
    open = Column(Float)
    high = Column(Float)
    low = Column(Float)
    close = Column(Float)
    volume = Column(Float)
    amount = Column(Float)
    adjustflag = Column(String(255))

# Create the table
Base.metadata.create_all(engine)

In [88]:

conn = engine.connect()
conn.execute("SHOW TABLES").fetchone()

('stock_data',)

In [93]:
conn.execute("SHOW TABLES").fetchall()

[('stock_data',), ('stock_data_test',)]

In [94]:
df.to_sql('stock_data_test', con=engine, if_exists='append', index=False)

1296

In [96]:
rst = pd.read_sql('SELECT * FROM stock_data_test',engine)
rst.dtypes

id                     int64
TradingDay    datetime64[ns]
SecuCode              object
Time          datetime64[ns]
open                 float64
high                 float64
low                  float64
close                float64
volume               float64
amount               float64
adjustflag            object
dtype: object

In [70]:
# df = rs.get_data()
# df['TradingDay'] = df['date'].astype('datetime64[ns]')
# df['Time'] = pd.to_datetime(df.time, format='%Y%m%d%H%M%S%f')
# df['SecuCode'] = df['code'].str[3:]
df = df[['TradingDay', 'SecuCode', 'Time','open', 'high', 'low', 'close', 'volume','amount', 'adjustflag']]
df.dtypes

TradingDay    datetime64[ns]
SecuCode              object
Time          datetime64[ns]
open                  object
high                  object
low                   object
close                 object
volume                object
amount                object
adjustflag            object
dtype: object

In [4]:
from sqlalchemy.dialects.mysql import INTEGER, VARCHAR
from sqlalchemy import Column
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()


# users表结构
class Users(Base):
    __tablename__ = 'users'

    id = Column(INTEGER, primary_key=True)
    name = Column(VARCHAR(256), nullable=False)
    age = Column(INTEGER)
    place = Column(VARCHAR(256), nullable=False)


    def __init__(self, id, name, age, place):
        self.id = id
        self.name = name
        self.age = age
        self.place = place

def init_db():
    engine = create_engine(
        "mysql+pymysql://root:@localhost:3306/orm_test",
        encoding= "utf-8",
        echo=True
    )
    Base.metadata.create_all(engine)
    print('Create table successfully!')

engine=create_engine( "mysql+pymysql://root:@localhost:3306/baostock")

In [48]:
conn=pymysql.connect(host = '127.0.0.1' # 连接名称，默认127.0.0.1
    ,user = 'root' # 用户名
    ,passwd='password' # 密码
    ,port= 3306 # 端口，默认为3306
    ,db='test' # 数据库名称
    ,charset='utf8' # 字符编码
    )
cur = conn.cursor() # 生成游标对象
sql="select * from `student` " # SQL语句
cur.execute(sql) # 执行SQL语句
data = cur.fetchall() # 通过fetchall方法获得数据
for i in data[:2]: # 打印输出前2条数据
    print (i)
cur.close() # 关闭游标
conn.close() # 关闭连接

OperationalError: (2003, "Can't connect to MySQL server on '127.0.0.1' ([WinError 10061] 由于目标计算机积极拒绝，无法连接。)")